# Dependencies
/node_modules

# Artifacts
/.next/
/out/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# System
.DS_Store

# Content Collections
.content-collections

# Environment
.env.local
.env*.local
